.list{
    max-height: 85vh ;
    height: 100%;
    box-sizing: border-box;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list_title {
    padding-left: 10px;
}

.list_title > h4 {
    margin: 0;
    padding: 5px 0;
}

.list_forms {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

form > label {
    padding-right: 10px;
    font-size: 0.8rem;
}

form > select {
    border: none;
    border-bottom: 1px solid black;
    font-size: 0.75rem;
    text-align-last:center;
}

.list_type, .list_ratings {
    margin: 10px;
}

.list_place_container {
    padding-top: 10px;
    padding-left: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

@media only screen and (max-width: 600px){

    .list {
        box-sizing: border-box;
        height: auto;
        overflow-y: scroll;
    }

}

@media only screen and (min-width: 601px){

    .list_place_container {
        margin-bottom: 40px;
        height: 95%;

    }
}