
.html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.home_container {
    display: grid;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    grid-gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 10px;;
}

.list_container {
    height: 100%;
}

.map_container {
    height: 100%;
}

@media only screen and (max-width: 600px){

    .home_container{
        height: auto;
        overflow-y: scroll;
    }

    .list_container {
        grid-column: 1/13;
        margin: 0 20px;
    }

    .map_container {
        grid-column: 1/13;
        margin: 0 20px;
    }

}

@media only screen and (min-width: 601px){
    .home_container{
        padding: 10px;
    }

    .list_container {
        grid-column: 1/5;  
    }

    .map_container {
        grid-column: 5/13;
        max-height: 100%;
    }
}