
.map {
    display: flex;
    position: relative;
    height: 100%; 
    width: 100%;
}

@media only screen and (max-width: 600px){
    .map {
        height: 500px;
        width: auto;
    }
}
@media only screen and (min-width: 601px){
    .map {
        height: 87vh;
        width: auto;
    }
}

@media only screen and (max-height: 1000px){
    .map {
        height: 90vh;
        width: auto;
    }
}
